<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42469868913-50e2oi2i98htukjl76g7raqka4oshoda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42469868913-50e2oi2i98htukjl76g7raqka4oshoda</string>
	<key>API_KEY</key>
	<string>AIzaSyCR54slod6w2IC0TFg7GqLPaM0TG5mQolw</string>
	<key>GCM_SENDER_ID</key>
	<string>42469868913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JHLee.Techiting</string>
	<key>PROJECT_ID</key>
	<string>techiting-bd7bb</string>
	<key>STORAGE_BUCKET</key>
	<string>techiting-bd7bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42469868913:ios:7a2cb46fc80da85ee2e2d0</string>
</dict>
</plist>